.github/
.env
*.env.local
*.env.development
*.env.production
GITHUB_TOKEN
GITHUB_TOKEN.txt
AMO_API_KEY.txt
AMO_API_SECRET.txt
*API*
.eslintcache/
node_modules/
dist/
build/
*.zip__pycache__/
.gemini
*.zip
__pycache__/
GITHUB_TOKEN.txt,
AMO_API_KEY.txt,
AMO_API_SECRET.txt,
gemini-gcloud-key.json,
*API*,
pycache
gcp-oauth.keys.json,
.github/workflows/
gemini-gcloud-key.json
gcp-oauth.keys.json
